/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	background: #B1D0aE;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: relative;
}

.list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;

}
.list li {
	margin: 0 90px 0 0;
}

.link {
	font-size: 35px;
	color: #111;
	line-height: 240px;
/*	padding: 21px 5px;*/
	background: #fafafa;
	display: block;
	width: 240px;
	height: 240px;
	border-radius: 50%;
	text-align: center;
	text-transform: uppercase;
	transform: rotate(-30deg) skewX(25deg) translate(0, 0);
	box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}

.link:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 240px;
	width: 240px;
	border-radius: 50%;
	box-shadow: -20px 20px 0px rgba(255,255,255,0.7);
	background: transparent;
}
.link:hover {
	transform: rotate(-30deg) skew(25deg) translate(-20px, 15px);
	background: lightyellow;
	color: darkblue;
}
.link:active {
	background: yellow;
	color: #000;
}